{% extends "layout.html" %}


{%block main%}
<div class="container py-3">
  {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
  {% for category, message in messages %}
  <div class="alert alert-{{category}} w-50 mx-auto mb-1 alert-dismissible fade show">
    {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
  </div>
  {% endfor %}
  {% endif %}
  {% endwith %}
  <div class="border shadow-sm rounded bg-white w-50 my-auto mx-auto p-3">
    <form method="POST" class="" action="">
      <!--CRSF token-->
      {{ form.hidden_tag() }}
      <fieldset class="form-group">

        <legend class="border-bottom">Ажилтаны хаягаа бүртгүүлэх хэсэг</legend>
        <div class="alert alert-info p-3">Доор буй бүх мэдээллийн хүснэгтийг бөглөнө үү. Илгээх товчийг
          дарсаны дараа
          менежер таны хүсэлтийг зөвшөөрөх хүртэл хаяг идэвхжээгүй байх болно.</div>
        <div class="form-group">
          {{ form.email.label(class="form-control-label") }}
          <small id="emailHelp" class="text-muted">Та цаашид майл хаягаараа нэвтрэх болно.</small>
          {% if form.email.errors %}
          {{ form.email(class="form-control is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.email.errors %}
            <span>{{error}}</span>
            {% endfor %}
          </div>
          {% else %}
          {{ form.email(class="form-control") }}
          {% endif %}
        </div>
        <div class="form-group">
          {{ form.fname.label(class="form-control-label") }}
          {% if form.fname.errors %}
          {{ form.fname(class="form-control is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.fname.errors %}
            <span>{{error}}</span>
            {% endfor %}
          </div>
          {% else %}
          {{ form.fname(class="form-control") }}
          {% endif %}
        </div>
        <div class="form-group">
          {{ form.lname.label(class="form-control-label") }}
          {% if form.lname.errors %}
          {{ form.lname(class="form-control is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.lname.errors %}
            <span>{{error}}</span>
            {% endfor %}
          </div>
          {% else %}
          {{ form.lname(class="form-control") }}
          {% endif %}
        </div>
        <div class="form-group">
          {{ form.phone.label(class="form-control-label") }}
          {% if form.phone.errors %}
          {{ form.phone(class="form-control is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.phone.errors %}
            <span>{{error}}</span>
            {% endfor %}
          </div>
          {% else %}
          {{ form.phone(class="form-control") }}
          {% endif %}
        </div>
        <div class="form-group">
          {{ form.password.label(class="form-control-label") }}
          {% if form.password.errors %}
          {{ form.password(class="form-control is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.password.errors %}
            <span>{{error}}</span>
            {% endfor %}
          </div>
          {% else %}
          {{ form.password(class="form-control") }}
          {% endif %}
        </div>
        <div class="form-group">
          {{ form.confirm_password.label(class="form-control-label") }}
          {% if form.confirm_password.errors %}
          {{ form.confirm_password(class="form-control is-invalid") }}
          <div class="invalid-feedback">
            {% for error in form.confirm_password.errors %}
            <span>{{error}}</span>
            {% endfor %}
          </div>
          {% else %}
          {{ form.confirm_password(class="form-control") }}
          {% endif %}
        </div>
      </fieldset>
      <div class="form-group">
        {{ form.submit(class="btn btn-outline-primary btn-lg btn-block  mt-5 mb-3") }}
      </div>
    </form>
    <div class="border-top pt-3 uk-text-center">
      <small class="uk-text-center uk-text-bold">Хаягтай бол
        <a class="mx-1" href="{{ url_for('login') }}" style="text-decoration: none;">
          ЭНД
          <span class="uk-icon" uk-icon="icon: users">
          </span></a>
        дарж нэвтэрнэ үү
      </small>
    </div>
  </div>
</div>
{% endblock %}